<h1>Hailstone numbers</h1>

<img src="equation.svg">
<p>Enter a natural number (n&#8712;&#8469;):</p>
<input type="number" id="number">
<button id="button" onClick="go();">Go</button>
<div id="output">Count: </div>
<canvas id="canvas" width="1030" height="530" style="border: 1px solid #000000;"></canvas>
<script src="script.js"></script>
