<h1>
  French revision
</h1>
<h2>Useful resources</h2>
<h3>Anki</h3>
<div>Anki is a free flashcard app with an SRS (Spaced repetition) algorithm for Android, Linux, Windows and Mac. You need to pay for the iPhone port, however. It is regarded by many to be the best out there.</div>
<div>Get Anki here: <a href="https://apps.ankiweb.net/">apps.ankiweb.net</a>.</div>
<div>This is a good flashcard set with a lot of phrases to help you remember grammar and vocab for your GCSE:</div>
<div><a href="https://ankiweb.net/shared/info/3363728268">https://ankiweb.net/shared/info/3363728268</a></div>
<h3>Kwiziq</h3>
<div>This is a website for free reading materials, however most of its texts are actually just YouTube videos transcribed.</div>
<div>You can find the webiste at <a href="https://french.kwiziq.com/learn/reading">french.kwiziq.com/learn/reading</a>.</div>
<h2>YouTube</h2>
<div>These are some YouTubers who speak in French.</div>
<ul>
  <li><a href="https://www.youtube.com/c/COLASBIM">COLAS BIM</a> - Animation, swears, speaks fast.</li>
  <li><a href="https://www.youtube.com/c/DIABO">DIABO</a> - Animation, swears, speaks fast.</li>
  <li><a href="https://www.youtube.com/c/DEOTOONS">DEOTOONS</a> - Same guy as DIABO, different content.</li>
  <li><a href="https://www.youtube.com/channel/UCU2SiY2mlc0rrZUQZVeZ6Og">LELAY</a> - Animation, doesn't swear, speaks at an easy-to-understand pace, very few videos.</li>
  <li><a href="https://www.youtube.com/user/benlitzler">Benlitzler</a> - Gaming, don't think they swear, speaks mid-fast, strong accent.</li>
  <li><a href="https://www.youtube.com/channel/UCUnO6-SAeSlQx54fWa2GZDg">Benlitzler's Animation</a> - Animation, same guy as Belitzler</li>
  <li><a href="https://www.youtube.com/channel/UC2HlQ25BAGE7Lb6RE6tQgcA">L'autre chaîne de Ben</a> - Not sure, just came across it, same guy as Belitzler.</li>
  <li><a href="https://www.youtube.com/channel/UCqF77WdetrwcynVvvi5t8lQ">LumaBleu</a> - Comedy gaming clips channel, same guy as Belitzler.</li>
</ul>
<h2>Stuff on this site</h2>
<div>I've made nothing yet. Request it from me at school.</div>