<h1>Pokémon Red in toki pona</h1>
<h2>Currently only done the intro, Pallet Town, Viridian Forest maybe and some of the battle text.</h2>
<a type="download" href="monsuta-poki-loje.bps">Download patch</a>
