<h1>Home</h1>
<h2>On this website</h2>
<ul>
  <li><a href="revision">Revision</a></li>
  <li><a href="hailstone-numbers">Hailstone numbers</a></li>
  <li><a href="phonetic-runes">Phonetic runes</a></li>
  <li><a href="powers-of-2-clicker">Powers of 2 clicker (like cookie clicker but more maths-y)</a></li>
  <li><a href="number-game">Don't reach the number game</a></li>
  <li><a href="monsuta-poki-loje">Pokémon Red in toki pona</a></li>
  <li><a href="monoalphabetic-substitution">Monoalphabetic substitution</a></li>
  <li><a href="languagenutbettermin.js">Languagenut improvement script</a></li>
</ul>
