body {
  color: #eeeeee;
  background: #222222;
  text-align: justify;
  padding: 0 10%;
}
button {
  background: #eeeeee;
  color: #222222;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
h1 {
  text-align: center;
}
td, th {
  border: 1px solid white;
  border-collapse: collapse;
}