<h1>Don't reach the number game</h1>
<div>Number to get to: <input id="maxnum" type="number"></div>
<div>Number of sayable numbers: <input id="delta" type="number"></div>
<button id="start" onclick="start(1);">You start</button>
<button id="start" onclick="start(0);">I start</button>
<h1 id="number">Number: </h1>
<div id="button-container"></div>
<script src="script.js"></script>