<!DOCTYPE html>
<html>
  <head>
    {% block head %}{{ head|safe }}{% endblock %}
    <title>{% block title %}{{ title|safe }}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet I made -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    {% block contents %}
    {{ content|safe }}
    {% endblock %}
  </body>
</html>
