{% extends "base.html" %}
{% block title %}
Homepage - {{ title }}
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<ul>
  {% for link in entries %}
  <li><a href="{{ link.href }}">{{ link.label }}</a></li>
  {% endfor %}
</ul>
{% endblock %}