<h1>Phonetic runes</h1>
<div>This started out, as many things do, as me messing around in my English lessons.</div>
<h2>Runes</h2>
<h3>Consonants</h3>
<img src="runes.svg" alt="Image of the runes">
<div>
In order:<br />
p  t  k f v<br />
b  d  g s z<br />
tʃ dʒ h ʃ ʒ<br />
m  n  ŋ θ ð<br />
w  l  r
</div>
<h3>Vowels</h3>
<div>TODO</div>